<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Submission and Video Recording</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="static/logo.png">
</head>

<body>

    <div class="container">
        <h2>Document Submission and Video Recording</h2>
        <div class="input-group">
            <div class="upload-box">
                <div class="drag-drop-text">Drag & Drop Your Document Here or Paste Text Below</div>
                <button class="browse-btn">Browse File</button>
                <button class="browse-btn" onclick="generateScript()">Generate Script</button>
                <input type="file" id="fileInput" class="browse-btn" style="display: none;" onchange="handlePDFInput(event)">

            </div>
            <textarea class="text-area" placeholder="Paste your text here" oninput="handleTextInput()"></textarea>
        </div>
        <div class="webcam-container">
            <video id="webcam" autoplay></video>
            <button class="record-btn" onclick="startRecording()">Start Recording</button>
            <button class="stop-btn" onclick="stopRecording()">Stop Recording</button>
            <div class="record-progress" id="recordProgress"></div>
            <div class="timer" id="timer">00:00</div>
        </div>
    </div>
    <!-- Footer -->
    <div class="footer">
        <p>&copy; 2023 LLM Website. All rights reserved to Script.AI.</p>
        <p>Contact us: CT@LLAMA.com</p>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

</body>

</html>